/* VARIABLES */
/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  color: #333;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

section {
  padding: 80px 0;
}

/* HERO */
.hero {
  background-image: url(https://images.pexels.com/photos/2599270/pexels-photo-2599270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center center;
  background-size: cover;
}

/* NAVIGATION */
.navigation {
  padding: 12px 0;
  width: 100%;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul ul {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  margin-left: 22px;
  text-align: left;
}

.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
}

.navigation ul ul a {
  color: #333;
  display: block;
  padding: 0 24px;
}

.navigation li {
  display: inline-block;
  position: relative;
  margin-right: 36px;
}

.navigation li :hover {
  color: #e1b12c;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li:hover ul {
  display: block;
  position: absolute;
  background: #fff;
}

.nav-list {
  text-align: right;
  font-family: "Archivo Black", sans-serif;
}

.nav-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
}

.nav-title {
  font-family: "Montserrat", sans-serif;
}

.nav-title a {
  color: #e1b12c;
  font-size: 32px;
}

/* SPLASH */
.splash {
  color: #fff;
  height: 100vh;
  min-height: 1000px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.splash-inner {
  font-size: 16px;
}

.splash-inner .page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.splash-inner .page-subtitle {
  font-family: "Archivo Black", sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
  width: 300px;
  font-family: "Archivo Black", sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.5em;
  border-width: 2px;
  border-style: solid #e1b12c;
  color: #fff;
  background: #e1b12c;
}

/* SERVICES */
.services {
  background: #fff;
}

.serives-title {
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
}

.services-subtitle {
  text-align: center;
  margin-top: 10px;
}

.services-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services-box {
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
}

.services-container i {
  display: block;
  font-size: 40px;
  text-align: center;
  color: #e1b12c;
}

.services-box-title {
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
}

.services-box-text {
  text-align: center;
}

/* OUR PORTFOLIO */
.portfolio {
  background: #e1e1e1;
}

.portfolio-title {
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
}

.portfolio-subtitle {
  text-align: center;
  margin-top: 10px;
}

.portfolio-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.portfolio-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 40px;
  opacity: 1;
}

.portfolio-image img:hover {
  opacity: 0.5;
}

.portfolio-box {
  -ms-flex: 0 0 31%;
      flex: 0 0 31%;
}

.portfolio-text {
  background: #fff;
}

.portfolio-box-title {
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
  margin: 0;
  padding-top: 25px;
}

.portfolio-box-text {
  text-align: center;
  margin-top: 0;
  padding-bottom: 25px;
}

/* FOOTER */
.footer-one {
  background: #fff;
  padding: 40px;
}

.footer-one p {
  font-weight: bold;
  font-size: 13px;
}

.footer-one ul {
  padding: 0;
  margin: 0;
}

.footer-one li {
  display: inline-block;
  font-size: 0px;
  transition: all 1s;
}

.footer-one li:hover {
  transform: scale(1.3);
}

.footer-one a {
  text-decoration: none;
}

.footer-one i {
  background: #333;
  font-size: 23px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

.ftr-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.ftr-p {
  -ms-flex: 0 0 42%;
      flex: 0 0 42%;
}

.ftr-social {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
}

@media (max-width: 768px) {
  .cont {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */