/* VARIABLES */

$color-one: #333;
$color-two: #fff;
$color-three: #e1b12c;

$font-title: 'Archivo Black', sans-serif;
$font-text: 'Montserrat', sans-serif;

/* GLOBAL */

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    color: $color-one;
    font-size: 16px;
    font-family: $font-text;
    margin: 0;
}

.section {
    padding: 96px 0;
}

/* NAVIGATION */

.navigation {
    padding: 12px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        ul {
            display: none;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 12px;
            margin-left: 22px;
            text-align: left;
            
            li {
                display: block;
                margin-bottom: 12px;
            }

            a {
                color: $color-one;
                display: block;
                padding: 0 24px;
            }
        }
    }

    li {
        display: inline-block;
        position: relative;
        margin-right: 36px;
        :hover {
            color: $color-three;
        }
    }

    a {
        text-decoration: none;
        color: $color-two;
    }
}

.navigation li:hover ul {
    display: block;
    position: absolute;
    background: $color-two;
}

.nav-list {
    text-align: right;
    font-family: $font-title;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-title {
    font-family: $font-text;
    
    a {
        color: $color-three;
        font-size: 32px;
    }
}

/* SPLASH */

.splash {
    background-image: url(https://images.pexels.com/photos/2599270/pexels-photo-2599270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);   
    background-position: center center;
    background-size: cover;
    color: $color-two;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.splash-inner {
    font-size: 16px;

    .page-title {
        font-family: $font-text;
        font-size: 50px;   
        text-align: center;   
        margin: 0;  
    }

    .page-subtitle {
        font-family: $font-title;
        font-size: 75px;
        text-align: center;
        margin-top: 20px;
    }
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    width: 300px;
    font-family: $font-title;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid $color-three;
    color: $color-two;
    background: $color-three;
    
}